//Fonts
@font-face {
    font-family: 'IBMPlexSans';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url("../../public/fonts/IBM_Plex_Sans/IBMPlexSans-Medium.ttf");
}

@font-face {
    font-family: 'IBMPlexSans';
    font-style: italic;
    font-display: swap;
    font-weight: 600;
    src: url("../../public/fonts/IBM_Plex_Sans/IBMPlexSans-SemiBoldItalic.ttf");
}

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-display: swap;
    font-weight: 200;
    src: url('../../public/fonts/Manrope/Manrope-ExtraLight.ttf');
}

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-display: swap;
    font-weight: 300;
    src: url('../../public/fonts/Manrope/Manrope-Light.ttf');
}

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url('../../public/fonts/Manrope/Manrope-Medium.ttf');
}

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src: url('../../public/fonts/Manrope/Manrope-SemiBold.ttf');
}

@font-face {
    font-family: 'ClashGrotesk';
    font-style: normal;
    font-display: swap;
    src: url('../../public/fonts/ClashGrotesk/ClashGrotesk-Variable.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/fonts/Roboto/Roboto-Light.ttf) format('ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../../static/fonts/Roboto/Roboto-Regular.ttf) format('ttf');
  }

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/fonts/Roboto/Roboto-Medium.ttf) format('ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(/fonts/Roboto/Roboto-Black.ttf) format('ttf');
}

@font-face {
    font-family: 'ClashGrotesk';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(/fonts/ClashGrotesk/ClashGrotesk-Light.ttf) format('ttf');
}


// Variables
//$custom-blue: #06498f;
$custom-blue: #264683;
$custom-grey: #EAEAEA;
$navbar-font-size: 19px;
$main-claim-font-size: 68px;
$sub-claim-font-size: 28px;


header {
    position: relative;
    z-index: 100;
    #desktop-nav {
        #kkk {
            height: 13vh;
            font-family: Manrope;
            font-size: $navbar-font-size;
            font-weight: 300;

            .navbar-logo {
                background-color: white;
                height: 100%;
                padding: 1% 1%;
                position: relative;
                z-index: 5;
        
                &:before {
                    position: absolute;
                    top: 0;
                    height: 100%;
                    right: 0;
                    transform: skewX(-20deg);
                    content: '';
                    background: white;
                    pointer-events: none;
                    transform-origin: bottom right;
                    width: 13%;
                    z-index: 0;
                }
            }
        
            #desktop-main-nav {
                margin-right: 2rem;
                margin-left: 4.5%;
                height: 100%;
                //height: 10rem;
                background-color: $custom-blue;
                position: relative;
                color: white;
                display: flex;
                flex-direction: column;
                z-index: 3;

                ul {
                    margin-left: -1rem;
                    list-style: none;
                }

                li {
                    padding-top: 10px;
                }

                &:before {
                    position: absolute;
                    top: 0;
                    height: 100%;
                    left: 0;
                    transform: skewX(-20deg);
                    content: '';
                    background: linear-gradient(to bottom, $custom-blue 60%, white 40%);
                    pointer-events: none;
                    transform-origin: bottom right;
                    width: 6%;
                    margin-left: -5.5%;
                    z-index: 0;
                }

                &:after {
                    position: absolute;
                    top: 0;
                    height: 100%;
                    right: 0;
                    transform: skewX(-20deg);
                    content: '';
                    background: linear-gradient(to bottom, $custom-blue 60%, white 40%);
                    pointer-events: none;
                    transform-origin: bottom right;
                    width: 7%;
                    margin-left: -6.5%;
                    z-index: 0;
                }

                #desktop-navbar-list {
                    flex: 0 0 60%;
                    padding-left: 2%;
                    z-index: 3;

                    > ul > li > a {
                        color: white;
                    }

                    a.active {
                        font-family: Manrope;
                        font-weight: 500;
                        text-decoration: underline;
                    }

                    a.lang_de {
                        padding-left: 25px;
                    }
                }

                #desktop-navbar-info {
                    height: 40%;
                    background-color: white;
                    z-index: 5;
                    font-size: $navbar-font-size - 2px;
                    font-weight: 500;

                    > ul {
                        margin: 0;
                        margin-left: -2rem;
                        padding: 0;
                        position: relative;
                    }
                    
                    > ul > li > p {
                        color: black;
                        z-index: 5;
                        padding-right: 3.5rem;
                    }

                    > ul > li > a {
                        padding-right: 3.5rem;
                        font-size: $navbar-font-size;
                        color: black;
                        z-index: 5;
                    }

                    > ul > li a:visited {
                        color: inherit;
                    }

                    > ul > li button {
                        color: black;
                        font-size: $navbar-font-size + 12px;
                    }

                    > ul > li span {
                        padding-right: 0.8rem;
                    }
                }
            }

            #desktop-navbar-lang-selector {
                height: 100%;
                z-index: 3;
                padding-right: 0;

                a {
                    color: white;
                    z-index: 3;
                    padding-right: 1rem;
                }

                #lang {
                    flex: 0 0 60%;
                    background-color: $custom-blue;
                    position: relative;
                    z-index: 3;
                    padding-left: 10%;

                    &::before {
                        position: absolute;
                        top: 0;
                        height: 100%;
                        left: 0;
                        transform: skewX(-20deg);
                        margin-left: -50%;
                        content: '';
                        background: $custom-blue;
                        pointer-events: none;
                        transform-origin: bottom right;
                        width: 70%;
                        z-index: 0;
                    }

                    a {
                        font-size: $navbar-font-size + 4px;
                    }
                }

                #utility_lang_div {
                    height: 40%;
                }
            }
        }
    }
    
}

.herosection-wrapper {
    z-index: 1;
    height: 100vh;
    width: 100%;
    background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 1) 100%),
    url('../images/header.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
}

.over-herosection-wrapper {
    position: relative;
    z-index: 10;
    margin-top: 60.7vh;
    padding-left: 5%;
    background-color: $custom-blue;
    height: 24vh;
    padding: 1% 1%;
    position: relative;
    z-index: 5;

    &:before {
        position: absolute;
        top: 0;
        height: 100%;
        right: 0;
        transform: skewX(-20deg);
        content: '';
        background: $custom-blue;
        pointer-events: none;
        transform-origin: bottom right;
        width: 13%;
        z-index: 0;
    }

    .claims{
        flex-direction: column;
        padding-left: 5rem;
        color: white;
    }

    #main-claim {
        font-family: IBMPlexSans;
        font-weight: 600;
        font-style: italic;
        font-size: $main-claim-font-size;
        padding-top: 0.5rem;
    }

    #sub-claim {
        font-family: IBMPlexSans;
        font-weight: 500;
        font-style: normal;
        font-size: $sub-claim-font-size;
    }

}

#branches-container{
    background-color: $custom-grey;
    padding-top: 5rem;
}

.branches {
    padding-left: 5.4rem;
    height: 50rem;
}
